@import "bootstrap";
@import "core/colors";
@import "devise/sessions/new.scss";

:root {
  --primary: #6864fa;
  --secondary: #ff6585;
}

.bg-primary, .btn-primary{
  background-color: var(--primary) !important;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.title {
  font-family: 'Fredoka', sans-serif;
}
